body {
  margin: 0;
  padding: 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
.commentmodal{
  position: absolute;
  top: 200px;
  left: 350px;
  right: 350px;
  bottom: 300px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 50px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
.modal {
  position: absolute;
  top: 60px;
  left: 250px;
  right: 250px;
  bottom: 60px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 300px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
.modalLabel {
  text-align: center;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
button.modalButton {
    text-transform: none;
}
.modalTimestamp{
  color : #757575;
  font-size: 14px;
}

.editButton {
    float: left;
    height: 80px;
    margin-right: 20px;
    margin-top: 20px;
}

.heading{
    font-weight: bold;
    color: deepskyblue;
    font-size: 16px;
}

.subheading {
    font-size: 13px;
    padding: 5px;
    color: dimgray;
}
.postPreview{
  font-size: 14px;
  color:gray;
}

.backArrow {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.postDetailsContainer{
    margin: auto;
    width: 50%;
}